<ion-view view-title="geoTracker" ng-controller="HomeCtrl as vm">
  <ion-content>
    <div class="card">
      <div class="item item-divider">Geolocation</div>
      <ion-toggle ng-model="vm.watchPosition" ng-change="vm.updateWatchPosition()">Watch position</ion-toggle>
      <div class="item" ng-show="vm.showCoords">
        <div class="row">
          <div class="col">
            <h2>Latitude</h2>

            <p>{{vm.geolocation.coordinates[1]}}</p>
          </div>
          <div class="col">
            <h2>Longitude</h2>

            <p>{{vm.geolocation.coordinates[0]}}</p>
          </div>
          <div class="col">
            <h2>Accuracy</h2>

            <p>{{vm.accuracy}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2>Count</h2>

            <p>{{vm.count}}</p>
          </div>
          <div class="col col-66">
            <h2>Timestamp</h2>

            <p>{{vm.timestamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</p>
          </div>
        </div>
      </div>
      <div class="item" ng-show="vm.showCoords">
        <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom' ng-if='vm.showCoords'>
          <ui-gmap-marker idKey='vm.session' coords='vm.geolocation'></ui-gmap-marker>
        </ui-gmap-google-map>
      </div>
    </div>

    <div class="card" ng-show="vm.error">
      <div class="item item-divider">Error</div>
      <div class="item">
        <div class="row">
          <div class="col">
            <h2>Latest Error</h2>

            <p>{{vm.error}}</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
